.pageContainer {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.orderCard {
    background-color: #004643;
    color: #faf0ca;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.noOrderCard {
    background-color: #004643;
    color: #faf0ca;
    padding: 1em;
    border-radius: 15px;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}


.ordersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

@media screen and (max-width: 800px) {
    .ordersContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

.pickUpStatus {
    border-radius: 0.5em;
    width: fit-content;
    padding: 0.3em;
    font-size: large;
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.pending, .pendingBtn {
    background-color: rgb(173, 154, 10);
}

.completed, .completedBtn {
    background-color: rgb(43, 116, 23);
}

.canceled, .canceledBtn {
    background-color: rgb(155, 57, 57);
}

.platesLink {
    color: #faf0ca;
    text-decoration: underline;
}

.filterContainer {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.selected {
    text-decoration: underline;
}

.orderHeadContainer {
    display: flex;
    justify-content: space-between
}

.userDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.orderItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 1em;
}

.itemsHeaders {
    display: flex;
    align-items: center;
    gap: 0.2em;
}