.pageContainer {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.orderCard {
    background-color: #004643;
    color: #faf0ca;
    padding: 0.5em;
    border-radius: 15px;
}

.ordersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}